.postheader {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.div {
  display: grid;
}

.title {
  font-family: var(--ui-sans);
  grid-column: 1/1;
  font-weight: 800;
  line-height: normal;
  display: grid;
  /* height: fit-content; */
}

.publishedAt {
  color: var(--text-muted);
  height: 28px;
}

.linkbutton {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  place-self: center;
  border: 0;
  cursor: pointer;
  border-radius: 9999px;
  background-color: var(--pre-bg);

  transition: background 150ms ease-out;

  &:hover {
    background-color: var(--border);
  }
}

.linkbutton > svg {
  width: 16px;
  height: 16px;
  stroke-width: 2;
  color: var(--text-muted);
}