@import 'tailwindcss';

@font-face {
	font-family: 'sans';
	src: url('$lib/assets/fonts/X-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'sans';
	src: url('$lib/assets/fonts/X-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #161616;
		color: #cccccc;
	}
}

body {
	font-family: 'sans';
	width: min(60ch, 100%);
	padding: max(20px, 0rem);
	margin: auto;
	@apply text-2xl;
}
