@import 'tailwindcss';

@font-face {
	font-family: 'sans';
	src: url('$lib/assets/fonts/regular.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'sans';
	src: url('$lib/assets/fonts/medium.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'mono';
	src: url('$lib/assets/fonts/mono.woff2');
	font-weight: 400;
	font-style: normal;
}

@theme {
	--font-sans: 'sans';
	--font-mono: 'mono';
	--color-muted: var(--color-neutral-600);
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #161616;
		color: #dddddd;
	}

	:root {
		--color-muted: var(--color-neutral-400);
	}
}

body {
	@apply font-sans text-base whitespace-normal antialiased;
}

main {
	--footer-height: 200px;
	@apply min-h-[calc(100vh-var(--footer-height))] max-lg:min-h-[calc(100vh-345px)];
}

.reading-container {
	@apply mx-auto mt-20 grid grid-cols-12;
}

a {
	@apply transition-all duration-200 hover:opacity-80;
}

hr {
	@apply opacity-10;
}

*::selection {
	@apply bg-gray-500/25;
}

.text-inline-icon {
	@apply inline size-4 -translate-y-px;
}

.font-mono {
	@apply tracking-tighter;
}

.reading-container > * {
    @apply max-lg:px-5
}

.reading-container > p,
.grid-centre {
	@apply max-w-[70ch] mx-auto col-span-12 sm:col-span-10 sm:col-start-2 md:col-span-10 md:col-start-2 lg:col-span-8 lg:col-start-3 xl:col-span-6 xl:col-start-4;
}

.grid-span-all {
	@apply col-span-12 col-start-1;
}

.reading-container > p {
	@apply mb-6 leading-relaxed xl:text-[19px];
}

.article p {
    @apply text-lg
}