@import 'tailwindcss';

@font-face {
	font-family: 'sans';
	src: url('$lib/assets/fonts/sans.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'mono';
	src: url('$lib/assets/fonts/mono.woff2');
	font-weight: 400;
	font-style: normal;
}

@theme {
	--font-sans: 'sans';
	--font-mono: 'mono';

	--color-muted: var(--color-neutral-600);
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #161616;
		color: #cccccc;
	}
}

body {
	font-family: 'sans';
	width: min(50ch, 100%);
	padding: max(20px, 0rem);
	margin: auto;
	font-size: var(--text-2xl);
	line-height: var(--tw-leading, var(--text-2xl--line-height));
}

*::selection {
	@apply bg-cyan-500/70;
}
