@import 'tailwindcss';

@font-face {
	font-family: 'sans';
	src: url('$lib/assets/fonts/dd.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'mono';
	src: url('$lib/assets/fonts/mono.woff2');
	font-weight: 400;
	font-style: normal;
}

@theme {
	--font-sans: 'sans';
	--font-mono: 'mono';

	--color-muted: var(--color-neutral-600);
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #161616;
		color: #cccccc;
	}
}

body {
	@apply mx-auto w-full max-w-[65ch] px-[max(20px,1.5rem)] font-sans text-base;
}

p {
	@apply text-[17px] sm:text-xl leading-normal;
}

*::selection {
	@apply bg-cyan-500/70;
}

.text-inline-icon {
	@apply inline size-5 -translate-y-px;
}

.font-mono {
    @apply tracking-tighter
}