.main {
  font-family: var(--reading-sans);
  display: grid;
  position: relative;
  line-height: 28px;
  grid-column: 1 / 4;
  gap: 24px;
  grid-template-columns:
    1fr
    min(640px, 100%)
    1fr;
}

.main > * {
  grid-column-start: 2;
}

.aside {
  font-family: 'Crimson Pro';
  font-style: italic;
  position: sticky;
  top: 100px;
  display: grid;
  align-items: start;
  grid-column-start: 1;
  height: 100%;
}

.aside > :first-child {
  font-size: large;
  display: flex;
  gap: 6px;
}

@media not all and (min-width: 1024px) {
  .main {
    grid-template-columns: 1fr;
  }
  .main > * {
    grid-column-start: 1;
  }
  .aside {
    padding-bottom: 25px;
    top: 0;
    position: relative;
  }
}