.blogpostlist {
  display: grid;
  gap: 4px;
  transition: color 150ms ease-out;
  &:hover {
    color: var(--text-muted);
  }
}

/* .blogpostlist > * + * {
  border: 1px solid;

  border-color: var(--border);
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left: none;
  border-right: none;
} */

.blogpost {
  padding: 12px 12px;
  display: flex;
  border-radius: var(--border-radius);
  justify-content: space-between;

  transition: background 150ms ease-out;

  &:hover {
    color: var(--foreground);
    background-color: var(--hover-bg);
  }
}

.postdate {
  display: flex;
  justify-content: end;
  flex-grow: 1;
  color: gray;
  white-space: nowrap;
}

.postdate::before {
  margin: 0px 8px;
  display: flex;
  flex-direction: row;
  position: relative;
  content: '';
  width: 100%;
  height: 1px;
  align-self: center;
  background-color: var(--border);
}