@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --vibe-text: 0 0% 20%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --vibe-text: 0 0% 80%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50 antialiased;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--muted-foreground) transparent;
  }

  .tnum {
    font-feature-settings: "tnum", "zero";
  }

  .hover-link::before {
    content: '';
    position: absolute;
    width: clamp(16rem, 96.5vw, 68ch);
    height: 60px;
    z-index: -1;
    @apply hover:bg-cyan-500/5 rounded-2xl -translate-x-4 -translate-y-2;
  }


  *::selection {
    @apply bg-cyan-500/50;
  }

  a {
    @apply underline decoration-[1px] underline-offset-2 decoration-muted-foreground/50 hover:decoration-primary duration-300 transition-colors ease-linear;
  }

  kbd {
    @apply border bg-muted text-muted-foreground text-xs font-mono px-1 rounded-sm shadow-sm;
  }

  body {
    @apply bg-background dark:bg-primary-foreground text-vibe;
    --font-settings: "ss02";
    font-feature-settings: var(--font-settings);
  }

  body::before {
    position: fixed;
    content: '';
    z-index: 5;
    left: 0px;
    top: 0px;
    height: 96px;
    width: 100dvw;
    background: linear-gradient(
      to bottom,
      white,
      transparent
    );
    mask-image: linear-gradient(to bottom, white 25%, transparent 100%);
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    backdrop-filter: blur(7px);
  }

  body::after {
    position: fixed;
    content: '';
    z-index: 5;
    left: 0px;
    bottom: 0px;
    height: 96px;
    width: 100dvw;
    background: linear-gradient(
      to top,
      white,
      transparent
    );
    mask-image: linear-gradient(to top, white 25%, transparent 100%);
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    backdrop-filter: blur(7px);
  }

  .dockbutton {
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 1) inset,
                0px 1px 1px 0px transparent inset;
    @apply active:scale-[0.95];
  }

  main {
    display: grid;
    grid-template-columns: 1fr 65ch 1fr;

    @apply relative max-w-6xl w-full max-sm:max-w-[100dvw] m-auto p-6 pb-12 mb-24 sm:mt-[96px] mt-16;
  }

  main > * {
    grid-column-start: 2;
    letter-spacing: 0;
    font-feature-settings: "kern", "frac", "kern", "ss02", "zero";

    @apply leading-relaxed
  }

  .serif-italic {
    @apply font-serif italic leading-[0];
    font-size: 18px;
    font-feature-settings: "zero";
  }

  .dark {
    .dockbutton {
      box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.1) inset,
                  0px 2px 1px 0px transparent inset;
    }

    body::before {
      position: fixed;
      content: '';
      z-index: 10;
      left: 0px;
      top: 0px;
      height: 96px;
      width: 100dvw;
      background: linear-gradient(
        to bottom,
        hsl(0 0 9%),
        transparent
      );
      mask-image: linear-gradient(to bottom, hsl(0 0 9%) 25%, transparent 100%);
      -moz-user-select: none;
      user-select: none;
      pointer-events: none;
      backdrop-filter: blur(5px);
    }

    body::after {
      position: fixed;
      content: '';
      z-index: 10;
      left: 0px;
      bottom: 0px;
      height: 96px;
      width: 100dvw;
      background: linear-gradient(
        to top,
        hsl(0 0 6%),
        transparent
      );
      mask-image: linear-gradient(to top, hsl(0 0 6%) 35%, transparent 100%);
      -moz-user-select: none;
      user-select: none;
      pointer-events: none;
      backdrop-filter: blur(7px);
    }
  }

  @media not all and (min-width: 768px) {
    main {
      grid-template-columns: 1fr;
    }

    main > * {
      grid-column-start: 1;
    }
  }
}
