@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}

@layer base {
  * {
    @apply border-border text-base leading-relaxed;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  *::selection {
    @apply bg-fuchsia-500 text-background;
  }

  #experience {
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
    width: min(1280px, 100%);
  }

  a {
    @apply underline decoration-[1px] underline-offset-4 decoration-muted-foreground/50 hover:decoration-primary duration-300 transition-colors ease-linear;
  }

  kbd {
    @apply border bg-muted text-muted-foreground text-xs font-mono px-1 rounded-sm shadow-sm;
  }

  body {
    @apply bg-background dark:bg-primary-foreground text-foreground pb-10;
  }

  body::before {
    position: fixed;
    content: '';
    z-index: 10;
    left: 0px;
    top: 0px;
    height: 96px;
    width: 100dvw;
    background: linear-gradient(
      to bottom,
      white,
      transparent
    );
    mask-image: linear-gradient(to bottom, white 25%, transparent 100%);
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    backdrop-filter: blur(7px);
  }

  body::after {
    position: fixed;
    content: '';
    z-index: 10;
    left: 0px;
    bottom: 0px;
    height: 96px;
    width: 100dvw;
    background: linear-gradient(
      to top,
      white,
      transparent
    );
    mask-image: linear-gradient(to top, white 25%, transparent 100%);
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    backdrop-filter: blur(7px);
  }

  .dockbutton {
    box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 1) inset,
                0px 1px 1px 0px transparent inset;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 65ch 1fr;

    @apply max-w-screen-2xl w-full m-auto px-6 md:px-16 pb-24 pt-8
  }

  main > * {
    grid-column-start: 2;
  }

  .pretty-text {
    @apply font-serif italic text-lg leading-4;
  }

  .dark {
    .dockbutton {
      box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.1) inset,
                  0px 1px 1px 0px transparent inset;
    }

    *::selection {
      @apply bg-sky-500;
    }

    body::before {
      position: fixed;
      content: '';
      z-index: 0;
      left: 0px;
      top: 0px;
      height: 96px;
      width: 100dvw;
      background: linear-gradient(
        to bottom,
        hsl(0 0 9%),
        transparent
      );
      mask-image: linear-gradient(to bottom, hsl(0 0 9%) 25%, transparent 100%);
      -moz-user-select: none;
      user-select: none;
      pointer-events: none;
      backdrop-filter: blur(5px);
    }

    body::after {
      position: fixed;
      content: '';
      z-index: 0;
      left: 0px;
      bottom: 0px;
      height: 96px;
      width: 100dvw;
      background: linear-gradient(
        to top,
        hsl(0 0 6%),
        transparent
      );
      mask-image: linear-gradient(to top, hsl(0 0 6%) 35%, transparent 100%);
      -moz-user-select: none;
      user-select: none;
      pointer-events: none;
      backdrop-filter: blur(7px);
    }
  }

  @media not all and (min-width: 1280px) {
    #experience {
      grid-column: 2/4;
      grid-template-columns: 1fr;
    }
  }
  @media not all and (min-width: 768px) {
    main {
      grid-template-columns: 1fr;
    }

    main > * {
      grid-column-start: 1;
    }

    #experience {
      grid-column: 1/1;
      grid-template-columns: 1fr;
    }
  }

}