@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterTight-VariableFont_wght.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Switzer';
  src: url('/fonts/Switzer-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Crimson Pro';
  src: url('/fonts/CrimsonPro-VariableItalic.woff2') format('woff2');
  font-style: normal;
}

:root {
  --ui-sans: 'Inter';
  --reading-sans: 'Switzer';
  --line-width: 65ch;
  --blur-radius: 5px;

  --bg: #ffffff;
  --text-muted: rgb(128, 128, 128);
  --foreground: rgb(0, 0, 0);
  --border: rgb(229, 229, 229);
  --hover-bg: rgb(245, 245, 245);
  --border-radius: 12px;

  --pre-bg: #f5f5f5;
  --blur-start: var(--bg);
  --blur-end: transparent;

  --mask-visible: #000;
  --mask-hidden: transparent;
  --mask-invisible: transparent;
  --direction: to bottom;
}

/* Syntax highlighting */
:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --sh-class: #4c97f8;
    --sh-identifier: white;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }
  :root {
    --bg: rgb(10, 10, 10);
    --foreground: rgb(212, 212, 212);
    --pre-bg: rgb(23, 23, 23);
    --border: rgb(64, 64, 64);
    --hover-bg: rgb(23, 23, 23);
  }
}

html, body {
  font-synthesis: none;
  touch-action: manipulation;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

section {
  padding: 100px 150px;
}

body {
  color: var(--foreground);
  background: var(--bg);
  font-family: var(--ui-sans), Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  position: fixed;
  content: '';
  z-index: 10;
  /* inset: 0; */
  left: 0px;
  top: 0px;
  height: 100px;
  width: 100dvw;
  background: linear-gradient(
    to bottom,
    var(--blur-start),
    var(--blur-end)
  );
  mask-image: linear-gradient(to bottom, var(--mask-visible) 25%, var(--mask-hidden));
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  backdrop-filter: blur(var(--blur-radius));
}
body::after {
  position: fixed;
  content: '';
  z-index: 10;
  /* inset: 0; */
  left: 0px;
  bottom: 0px;
  height: 96px;
  width: 100dvw;
  background: linear-gradient(
    to top,
    var(--blur-start),
    var(--blur-end)
  );
  mask-image: linear-gradient(to top, var(--mask-visible) 25%, var(--mask-hidden));
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  backdrop-filter: blur(var(--blur-radius));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media not all and (min-width: 1240px) {
  section {
    padding: 100px 1.25rem;
  }
}
