.section {
  font-family: var(--reading-sans);
  display: grid;
  font-weight: 400;
  grid-template-columns: 1fr 65ch 1fr;
}

.main {
  display: grid;
  gap: 64px 0px;
  grid-column: 2/3;
}

.h1 {
  margin: 2rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
  /* font-family: 'Geist Mono'; */
}

.link {
  position: relative;
  text-decoration: none;
}

.link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px; /* Match the desired border thickness */
  background: linear-gradient(to left, transparent, #a3a3a3, transparent);
  pointer-events: none;
}

.p {
  line-height: 1.5rem;
  text-wrap: wrap;
  white-space: pre-wrap;
}

.p:first-of-type {
  margin-top: 8px;
}

.italic {
  font-size: large;
  font-family: 'Crimson Pro';
}

.sectiontitle {
  color: var(--text-muted);
  font-size: 13px;
  color: green;
  font-family: 'Geist Mono';
}

.sectiontitle::before {
  content: '$>';
  margin-right: 2px;
}

@media not all and (min-width: 640px) {
  .section {
    grid-template-columns: 1fr;
  }
}