.dockregion {
  position: fixed;
  bottom: 0;
  display: flex;
  height: fit-content;
  width: 100dvw;
  padding-bottom: 32px;
  pointer-events: none;
}

.dock {
  pointer-events: all;
  z-index: 10;
  display: flex;
  gap: 8px;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
  align-items: flex-end;
  height: 54px;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(7px);
  border: 1px solid var(--border);
  border-radius: 999px;
  box-shadow: 0px 50px 38px 12px rgba(0, 0, 0, 0.1);
}

.motionlessdock {
  z-index: 1;
  visibility: hidden;
  pointer-events: all;
  z-index: 10;
  display: flex;
  gap: 8px;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
  align-items: flex-end;
  height: 54px;
  padding: 6px;
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 9999px;
  box-shadow: 0px 20px 28px 12px rgba(0, 0, 0, 0.08);
}

.motionlessdock > a {
  z-index: 20;
  width: 40px;
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 9999px;
  border: 1px solid var(--border);
  background-color: var(--hover-bg);
}

.link {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  place-content: center;
}

.dockbutton {
  display: grid;
  place-items: center;
  aspect-ratio: 1/1;
  cursor: pointer;
  background-color: var(--hover-bg);
  border-radius: 9999px;
  border: 1px solid var(--border);
  box-shadow:  0px 2px 1px rgba(255, 255, 255, 1) inset,
               0px -1px 1px rgba(0, 0, 0, 0.1) inset;
}

.dock > * > * {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center;
  border-radius: 9999px;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--text-muted);
  pointer-events: none;
}

.motionlessdock > button {
  box-shadow:  0px 2px 1px 0px rgba(255, 255, 255, 1) inset,
               0px -1px 1px 0px rgba(0, 0, 0, 0.1) inset;
}

@media not all and (min-width: 640px) {
  .motionlessdock {
    visibility: visible;
    margin: 0 max(16px, auto);
  }

  .dock {
    visibility: hidden;
  }
}

@media (prefers-color-scheme: dark) {
  .dockbutton, .motionlessdock > button {
    box-shadow:  0px 1px 1px 0px rgba(216, 216, 216, 0.05) inset,
                 0px -1px 1px 0px rgba(0, 0, 0, 0.5) inset;
  }

  .dock {
    background-color: rgba(10, 10, 10, 0.9);
  }
}