.footer {
  font-family: 'Geist Mono';
  z-index: 15;
  position: relative;
  display: grid;
  place-items: stretch;
  margin-top: 50px;
  padding: 52px 24px 16px 24px;
  background: linear-gradient(to top, var(--secondary-bg) 70%, transparent);
}

.footercontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: auto;
  width: clamp(100%, 100%, 1024px);
  max-width: 1024px;
  color: var(--foreground);
  font-size: x-small;
}

.quote {
  font-family: var(--reading-sans);
  display: grid;
  align-content: center;
}

.quote:first-child {
  width: fit-content;
  transition: color 150ms ease-in-out;
  &:hover {
    color: var(--link-active);
  }
}

.linklist {
  display: grid;
  gap: 8px;
  grid-column: 2 / 3;
  grid-auto-flow: column;
  list-style: none;
  justify-content: end;
  /* border: 1px solid var(--border); */
}

.link {
  list-style: none;
  list-style-type: none;
  border-radius: 9999px;
  &:hover {
    background-color: var(--hover-bg);
    color: var(--link-active);
  }
}

.link > :first-child {
  display: flex;
  padding: 8px;
}

.icon {
  width: 16px;
  height: 16px;
}

.deets {
  display: grid;
  grid-row: 2 / 2;
  grid-column: 1 / 3;
  grid-template-columns: 1fr 1fr;
  justify-items: space-between;
}

.copy {
  font-size: 13px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.time {
  font-size: 12px;
  padding-right: 8px;
  display: grid;
  align-content: center;
  justify-content: end;
}

.location {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  &:hover {
    color: var(--link-active);
  }
}

.location::before {
  content: '';
  width: 4px;
  margin: auto 4px;
  height: 4px;
  background-color: var(--text-muted);
  border-radius: 9999px;
}