.blogpostlist {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: color 150ms ease-out;
  margin-bottom: 350px; /* provisional. will find a better way*/
  &:hover {
    color: var(--text-muted);
  }
}

.blogpost {
  width: 100%;
  display: flex;
  padding: 12px 12px;
  justify-content: space-between;
  border-radius: var(--border-radius);
  transition: background 150ms ease-out;

  &:hover {
    color: var(--foreground);
    background-color: var(--hover-bg);
  }
}

.posttitle {
  font-weight: 500;
}

.postdate {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  color: var(--text-muted);
  white-space: nowrap;
}

.postdate::before {
  margin: 0px 8px;
  display: flex;
  flex-direction: row;
  position: relative;
  content: '';
  width: 100%;
  height: 1px;
  align-self: center;
  background-color: var(--border);
}

@media not all and (min-width: 640px) {
  .blogpostlist {
    gap: 12px;
  }

  .blogpost {
    padding: 12px 10px;
    flex-wrap: wrap;
  }
}